/* body, textarea, input {
    background-color: #fefbf6;
    color: black;
} */

#result-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#result-description > div {
    width: 50%;
}

.plots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}